
<!-- MAIN CONTENT AREA -->
        <div class="main-content">
<div class="container">
                <div class="row show-grid">
                    <div class="span12">
<!-- BREADCRUMBS -->
                        <div id="breadcrumb">
                        <ul>
                            <li><a href="/admin">Banners</a></li>

                        </ul>
                        </div>
                        <div class="row show-grid clear-both">
<!-- BEGIN LEFT-SIDEBAR -->
                            <div id="left-sidebar" class="span3 sidebar">
<!-- LEFT-SIDEBAR: SIDEBAR NAVIGATION -->
                                <div class="side-nav sidebar-block">
                                    <h2>Options</h2>
                                    <ul>
                                           <li class="{{active.aboutus}}"><a href="/admin">Banners</a></li>

                                    </ul>
                                </div>
                            </div>
<!-- END LEFT-SIDEBAR -->


  <div class="choose_file">
    <span> Upload new banner </span>
    <input id="fileInput" type="file" name="new banner" />
  </div>
<!-- BEGIN ARTICLE CONTENT AREA -->

                            <div class="span9 main-column two-columns-left">

                              <H3>Banners</H3>
                              <ul id="sortable">
                                  {{#each images}}
                                  <li class="slide1" data-transition="slideleft" data-slotamount="5" data-masterspeed="300">
                                      <img class="bannerImg" alt="" src="https://s3.amazonaws.com/media.cincygrace.com/{{this}}" />
                                      <input type="image" id="deleteBtn" class="delete"   src="assets/images/delete.png"  />
                                  </li>
                                  {{/each}}

                              </ul>
<!-- END ARTICLE CONTENT AREA -->
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

        </div>
