<!DOCTYPE html>
<html>

<head>
    <!--  SEO STUFF START HERE -->
    <title>Grace International Church: Admin</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="follow, index" />
    <!--  SEO STUFF END -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" rel="stylesheet" />
    <!--  revolution slider plugin : begin -->
    <link rel="stylesheet" type="text/css" href="/assets/styles/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/rs-responsive.css" media="screen" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <!--  revolution slider plugin : end -->
    <link rel="stylesheet" href="/assets/styles/bootstrap.css" />
    <link rel="stylesheet" href="/assets/styles/custom.css" />
    <link rel="stylesheet" href="/assets/styles/isotope.css" />
    <link rel="stylesheet" href="/assets/styles/color_scheme.css" />
    <link rel="stylesheet" href="/assets/styles/admin_banners.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/styles/font-awesome.css" />
    <link rel="stylesheet" href="/assets/styles/font-awesome-ie7.css" />
    <link rel="stylesheet" href="/assets/styles/flexslider.css" />
    <link rel="stylesheet" href="/assets/styles/jquery.fancybox.css?v=2.1.0" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/miniplayer.css" title="style" media="screen" />

    <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="/assets/styles/IE-fix.css" />
        <![endif]-->

        <style>
        #sortable { list-style-type: none; margin: 0; padding: 0;  }
        #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 40%;  font-size: 4em; text-align: center; }

 </style>
</head>

<body>
    <!-- THE LINE AT THE VERY TOP OF THE PAGE -->
    <div class="top_line"></div>
    <!-- HEADER AREA -->
    <header>
        <div class="container">
            <div class="row">
                <!-- HEADER: LOGO AREA -->
                <div class="span4 logo">
                    <a class="logo" href="http://www.cincygrace.com">
                        <img alt="logo" title="Grace" src="/assets/images/logo.png">
                    </a>
                </div>
                <div class="span4 offset4">
                    <!-- HEADER: PHONE NUMBER -->
                    <p class="head_phone">
                        <a href="tel:555-555-5555"></a>
                    </p>
                </div>
                <!-- HEADER: SOCIAL ICONS -->
                <ul class="socials unstyled">
                    <li>
                        <a class="twitter" href="https://twitter.com/SamDarla10"></a>
                    </li>
                    <li>
                        <a class="facebook" href="https://www.facebook.com/PastorSamDarla"></a>
                    </li>
                    <li>
                        <a class="youtube" href="http://www.youtube.com/user/samdarla10"></a>
                    </li>
                </ul>
            </div>

        </div>

        <!-- HEADER: PRIMARY SITE NAVIGATION -->
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <div class="buttons-container">
                        </div>
                        <div class="nav-collapse">
                            <ul class="nav nav-pills">

                                <li class="{{active.home}} single"><a href="/">HOME
                                            <i>Grace home</i>
                                        </a>
                                </li>
                                <li class="{{active.aboutus}}  dropdown">
                                    <a class=" dropdown-toggle" data-toggle="dropdown" href="/aboutus">
                                            ABOUT US<i>who we are</i>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="aboutus">We Believe</a></li>
                                        <li><a href="aboutus/pastor">Our Pastor</a></li>
                                        <li><a href="aboutus/gallery">Gallery</a></li>

                                    </ul>

                                </li>
                                <li class="{{active.sermons}}  dropdown">
                                    <a href="videos">
                                            SERMONS<i> view or listen</i>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="sermons">Audio</a></li>
                                        <li><a href="videos">Video</a></li>
                                    </ul>
                                </li>
                                <li class=" single">
                                    <a href="events">
                                            EVENTS<i>what's new?</i>
                                        </a>

                                </li>

                                <li class=" single"><a href="contactus">CONTACT US
                                            <i>get in touch</i>
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- MAIN CONTENT AREA -->
    {{{body}}}
    <!-- FOOTER STARTS HERE -->
    <footer id="footer">
        <div class="footer-top"></div>
        <div class="footer-wrapper">
            <div class="container">
                <div class="row show-grid">
                    <div class="span12">
                        <div class="row show-grid">
                            <!-- FOOTER: LOGO -->
                            <div class="span4">
                                <img alt="" class="footer-logo" src="/assets/images/grey_logo.png" />
                                <!-- FOOTER: ADDRESS -->
                                <address class="address">
                                        <p><i class="icon-map-marker icon-large"></i>1600 Glendale Milford Rd </p>
                                       <p><i>&nbsp;</i>Cincinnati, OH  45246</p>
                                        <p><i class="icon-phone icon-large"></i>Phone: 513-238-4771 </p>
                                    </address>
                            </div>
                            <!-- FOOTER: ABOUT US -->
                            <div class="span4 footer-center">
                                <h4 class="center-title">About Us</h4>
                                <p>Grace International is a ministry by Sam Darla with a mission to reach with the supernatural power of God to Cincinnati and beyond.</p>
                            </div>
                            <!-- FOOTER: NAVIGATION LINKS -->
                            <div class="span4 footer-right">
                                <h4 class="center-title">Navigate</h4>
                                <ul class="footer-navigate">
                                    <li>
                                        <a href="http://www.cincygrace.com">Home</a>
                                    </li>
                                    <li>
                                        <a href="/aboutus/believe/">About Us</a>
                                    </li>
                                    <li>
                                        <a href="/sermons">Sermons</a>
                                    </li>
                                    <li>
                                        <a href="/events">Events</a>
                                    </li>
                                    <li>
                                        <a href="/contactus">Contact</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row show-grid">
                    <!-- FOOTER: COPYRIGHT TEXT -->
                    <div class="span12">
                        <p> Grace International Church Copyright 2013.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->s
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40233915-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
  <script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>


<!-- script src="https://code.jquery.com/jquery-1.12.4.js"></script-->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
      <script type="text/javascript" src="scripts/bootstrap.js"></script>
      <script>
        $( function() {
          $( "#sortable" ).sortable();
          $( "#sortable" ).disableSelection();
        } );
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>
      <script src="scripts/s3client.js"></script>
      <script>
        $(function() {
          initS3FileUpload($('#fileInput'));
        });
          $("input:file").change(function () {
             if ($(this).val() !== "") {
                var file = $('#fileInput')[0].files[0];
                console.log(file.size);
             }
          });

          $(".delete").click(function(e) {


          $.post( "/admin/deletebanner",{ filename: e.target.parentNode.children[0].src }, function( data ) {
          //  alert( "Data Loaded: " + data );
          });
            location.reload();
          });
      </script>
</body>

</html>
