
<!-- MAIN CONTENT AREA -->
        <div class="main-content">
<div class="container">
                <div class="row show-grid">
                    <div class="span12">
<!-- BREADCRUMBS -->
                        <div id="breadcrumb">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/aboutus">About Us</a></li>
                            <li>Statement</li>
                        </ul>
                        </div>
                        <div class="row show-grid clear-both">
<!-- BEGIN LEFT-SIDEBAR -->
                            <div id="left-sidebar" class="span3 sidebar">
<!-- LEFT-SIDEBAR: SIDEBAR NAVIGATION -->
                                <div class="side-nav sidebar-block">
                                    <h2>About Us</h2>
                                    <ul>
                                           <li class="{{active.aboutus}}"><a href="/aboutus">We Believe</a></li>
                                           <li class="{{active.pastor}}"><a href="/aboutus/pastor">Our Pastor</a></li>
                                           <li class="{{active.gallery}}"><a href="/aboutus/gallery">Gallery</a></li>

                                    </ul>
                                </div>
                            </div>
<!-- END LEFT-SIDEBAR -->

<!-- BEGIN ARTICLE CONTENT AREA -->
                            <div class="span9 main-column two-columns-left">
                                <article>
                                    <h1>What we believe</h1>
                                    <img alt="" src="/assets/images/statement.png" class="img-polaroid">
                                <p> <b>We Believe</b> in one God, who exists in three Persons — the Father, Son and Holy Spirit. He is loving, holy and just.</p>
				<p><b>We Believe</b> the Bible is God’s Word. It is inspired and accurate. It is our perfect guide in all matters of life.</p>
				<p><b>We Believe</b> sin has separated us all from God, and that only through Jesus Christ can we be reconciled to God.</p>
				<p><b>We Believe</b> Jesus Christ is both God and Man. He was conceived by the Holy Spirit and born of the virgin Mary. He led a sinless life, took all our sins upon Himself, died and rose again. Today, He is seated at the right hand of the Father as our High Priest and Mediator.</p>
				<p><b>We Believe</b> that salvation is the gift of God to man. This gift is effected by grace through faith in Jesus Christ and it produces works pleasing to God.</p>
				<p><b>We Believe</b> that water baptism is an outward act that demonstrates a believer's identification with the death, burial and resurrection of Jesus.</p>
				<p><b>We Believe</b> the Holy Spirit is our Comforter. He guides us in all areas of our lives. He also blesses us with spiritual gifts and empowers us to yield the fruit of the Spirit.</p>
				<p><b>We Believe</b> the Holy Communion is a celebration of Jesus’ death and our remembrance of Him.</p>
				<p><b>We Believe</b> God wants to transform, heal and prosper us, so that we can live blessed and victorious lives that will impact and help others.</p>
				<p><b>We Believe</b> we are called to preach the gospel to all nations.</p>
				<p><b>We Believe</b> our Lord Jesus Christ is coming back again just as He promised. </p>
</article>
<!-- END ARTICLE CONTENT AREA -->
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

        </div>
