
<!-- MAIN CONTENT AREA -->
<div class="main-content">
  <div class="container">
    <div class="row show-grid">
      <div class="span12">
        <div class="row show-grid clear-both">
          <div class="span9 main-column two-columns-right">
          <article id="post-120" class="post-120 post type-post status-publish format-standard hentry category-events">
            <header class="entry-header">
              <h1 class="entry-title">
              <a href="#" title="Permalink to Upcoming Events" rel="bookmark">Upcoming Events</a>
              </h1>
              <!-- div class="comments-link">
              <a href="http://www.cincygrace.com/pastor-sam-darlas-speaking-engagements/#respond" title="Comment on Upcoming Events"><span class="leave-reply">Leave a reply</span></a>				</div --><!-- .comments-link -->
            </header><!-- .entry-header -->
            <div class="entry-content">
              <p>&nbsp;</p>
              <p>There are no upcoming events at this time. Please check back later.</p>
            </div><!-- .entry-content -->
          </article>
          </div><!-- #span9 -->
          <div id="right-sidebar" class="span3 sidebar">
          <div class="sidebar-news-widget sidebar-block">
          <h2>Recent Events</h2>
          <ul>
            <li><a href="#">Upcoming Events</a></li>
          </ul >
          </div>
          </div>
        </div><!-- #row show grid -->
      </div><!-- #span12 -->
    </div>
  </div>
</div>
