<div class="main-content">
    <div class="container">
        <!-- MAIN CONTENT AREA: Church Motto -->
        <div class="church-motto">
            <p> "Carrying God's supernatural power to the nations" </p>
        </div>
        <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) -->
        <div class="bannercontainer">
            <div class="banner">
                <ul>

                    <li class="slide1" data-transition="slideleft" data-slotamount="5" data-masterspeed="300">
                        <img alt="" src="assets/images/PastorSamTrip.jpg" />
                    </li>

                    <li class="slide1" data-transition="slidedown" data-slotamount="5" data-masterspeed="300">
                        <img alt="" src="assets/images/Supernatural-Encounter.png" />
                    </li>

                    <li class="slide1" data-transition="boxfade" data-slotamount="5" data-masterspeed="300">
                        <img alt="" src="assets/images/Slide2-21.jpg" />
                    </li>

                    <li class="slide1" data-transition="slideleft" data-slotamount="5" data-masterspeed="300">
                        <img alt="" src="assets/images/Slide1-copy1.jpg" />
                    </li>

                    <li class="slide1" data-transition="slotfade-horizontal" data-slotamount="5" data-masterspeed="300">
                        <img alt="" src="assets/images/slider01.png" />
                    </li>

                    <li class="slide1" data-transition="slideleft" data-slotamount="5" data-masterspeed="300">
                        <img alt="" src="assets/images/slider02.jpg" />
                    </li>

                    <li class="slide1" data-transition="slideleft" data-slotamount="5" data-masterspeed="300">
                        <img alt="" src="assets/images/growthfactors.png" />
                    </li>

                    <li class="slide1" data-transition="slideleft" data-slotamount="5" data-masterspeed="300">
                        <img alt="" src="assets/images/JoshuaGeneration.jpg" />
                    </li>

                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        <div class="row main-block">
            <div class="span12">
                <div class="row">
                    <!--  MAIN CONTENT AREA: REDESIGN CUSTOM - HERO BLOCK 1 (TEXT BLOCK)] -->
                    <div class="span6 home-block hero-block-1">
                        <h1>Welcome to Grace</h1>
                        <h2>Experience God's supernatural power</h2>
                        <p>We are an international body that truly believe in God's word and its supernatural power to transform lives. We are seeing God working powerfully among us through healing, miracles and deliverance.
                            <br/> Our vision is to one day see all of Cincinnati come worship the most high God with us. Come visit us at one of our services here. </p>
                    </div>
                    <!-- MAIN CONTENT AREA: SPACER BETWEEN HERO BLOCK 1 AND HEREO BLOCK 2 -->
                    <div class="span1">
                    </div>
                    <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 2 -->
                    <div class="span5 home-block">
                        <div class="grey-box hero-block-2">
                            <h2><a href="#">Connect With Us</a></h2>
                            <p><img alt="" src="assets/images/connectgrow.jpg" />
                            </p>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/PastorSamDarla"><img src="assets/images/facebook.png" /> Facebook</a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/SamDarla10"><img src="assets/images/twitter.png" /> Twitter</a>
                                </li>
                                <li>
                                    <a href="http://www.youtube.com/user/samdarla10"><img src="assets/images/you_tube.png" /> You Tube</a>
                                </li>
                            </ul>
                            <!-- a href="#" class="btn btn-warning">Give Online</a -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- MAIN CONTENT AREA: bizstrap CUSTOM - RECENT POSTS BLOACK (ORIGINALLY DESIGNED FOR HOME PAGE) -->
        <div class="main-block block-posts">
            <div class="title-wrapper">

            </div>
            <div class="row show-grid clear-both">
                <div class="span12">
                    <div class="row show-grid">

                        <!-- Each Video-->

                        <div class="span3">
                            <a class="block-post-img youtube" href="https://www.youtube.com/v/vWH04mGvGRU">
                                <img alt="" style="height:160; width:220" src="https://i.ytimg.com/vi/vWH04mGvGRU/hqdefault.jpg" lass="img-rounded" />
                            </a>
                            <a class="block-post-title youtube" href="https://www.youtube.com/v/vWH04mGvGRU">Singapore Ministry</a>
                            <p class="block-post-date"></p>
                            <p class="block-post-content">Mark 16:20King James Version (KJV) 20 And they went forth, and preached every where, the Lord working with them, and confirming the word with signs following. Amen.</p>
                            <a class="block-post-more youtube" href="https://www.youtube.com/v/vWH04mGvGRU">View Online&nbsp;&raquo;</a>
                        </div>

                        <!-- end Foreach Video -->

                        <!-- Each Video-->

                        <div class="span3">
                            <a class="block-post-img youtube" href="https://www.youtube.com/v/NJbswG4XKPU">
                                <img alt="" style="height:160; width:220" src="https://i.ytimg.com/vi/NJbswG4XKPU/hqdefault.jpg" lass="img-rounded" />
                            </a>
                            <a class="block-post-title youtube" href="https://www.youtube.com/v/NJbswG4XKPU">Addicted to Jesus</a>
                            <p class="block-post-date"></p>
                            <p class="block-post-content"></p>
                            <a class="block-post-more youtube" href="https://www.youtube.com/v/NJbswG4XKPU">View Online&nbsp;&raquo;</a>
                        </div>

                        <!-- end Foreach Video -->

                        <!-- Each Video-->

                        <div class="span3">
                            <a class="block-post-img youtube" href="https://www.youtube.com/v/OiZ3PhBVUjU">
                                <img alt="" style="height:160; width:220" src="https://i.ytimg.com/vi/OiZ3PhBVUjU/hqdefault.jpg" lass="img-rounded" />
                            </a>
                            <a class="block-post-title youtube" href="https://www.youtube.com/v/OiZ3PhBVUjU">09212015-Holiness</a>
                            <p class="block-post-date"></p>
                            <p class="block-post-content"></p>
                            <a class="block-post-more youtube" href="https://www.youtube.com/v/OiZ3PhBVUjU">View Online&nbsp;&raquo;</a>
                        </div>

                        <!-- end Foreach Video -->

                        <!-- Each Video-->

                        <div class="span3">
                            <a class="block-post-img youtube" href="https://www.youtube.com/v/SPaM7B648ag">
                                <img alt="" style="height:160; width:220" src="https://i.ytimg.com/vi/SPaM7B648ag/hqdefault.jpg" lass="img-rounded" />
                            </a>
                            <a class="block-post-title youtube" href="https://www.youtube.com/v/SPaM7B648ag">09232015-Faith</a>
                            <p class="block-post-date"></p>
                            <p class="block-post-content"></p>
                            <a class="block-post-more youtube" href="https://www.youtube.com/v/SPaM7B648ag">View Online&nbsp;&raquo;</a>
                        </div>

                        <!-- end Foreach Video -->
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row main-block">
            <div class="span12">
                <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO LIST -->

            </div>
            <div class="horizontal-divider span12"></div>
        </div>
        <!-- MAIN CONTENT AREA: bizstrap CUSTOM - PORTFOLIO GRID BLOCK (ORIGINALLY DESIGNED FOR HOME PAGE) -->

        <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HORIZONTAL TESTIMONIAL BLOCK -->
        <div class="main-block testimonials">
            <div class="title-wrapper">
                <h2>Testimonies</h2>
                <!-- a href="#" class="all">Show all &nbsp;&raquo;</a -->
            </div>
            <div class="clear-both"></div>
            <div class="row show-grid">
                <div class="span12">
                    <div class="testimonials-block">
                        <div class="quote"></div>
                        <p class="first-row">I had been using my crutches for 10 months. Today the Lord has touched my heart and my body. </p>
                        <p>I put my crutches aside and I am walking pain free.
                            <a href="http://www.youtube.com/watch?v=1hiEK82D_bw&list=UUCsyvIBlhT5L67s0-uixLnQ&index=4">Watch Online</a>
                        </p>
                        <p></p>
                        <p class="autor">David Khosa</p>
                    </div>
                </div>
            </div>


        </div>

    </div>
