
<!-- MAIN CONTENT AREA -->
<div class="main-content">
  <div class="container">
    <div class="row show-grid">
      <div class="span12">
        <div class="row show-grid clear-both">
          <div class="span9 main-column two-columns-right">
          <article id="post-120" class="post-120 post type-post status-publish format-standard hentry category-events">
            <header class="entry-header">
              <h1 class="entry-title">
              <a href="#" title="Permalink to Upcoming Events" rel="bookmark"> Login </a>
              </h1>
              <!-- div class="comments-link">
              <a href="http://www.cincygrace.com/pastor-sam-darlas-speaking-engagements/#respond" title="Comment on Upcoming Events"><span class="leave-reply">Leave a reply</span></a>				</div --><!-- .comments-link -->
            </header><!-- .entry-header -->
            <div class="entry-content">
              <p>&nbsp;</p>
              <p>Enter you username and password</p>
              <form action="/login" method="post">
  <input name="username" id="username" type="text" placeholder="Your username" />
  <input name="password" id="password" type="password" placeholder="Your password"/>
  <br/>
  <input type="submit" />
</form>

            </div><!-- .entry-content -->
          </article>
          </div><!-- #span9 -->
          <div id="right-sidebar" class="span3 sidebar">
          <div class="sidebar-news-widget sidebar-block">
          <br />
          <br />
          </div>
          </div>
        </div><!-- #row show grid -->
        <br/>
      </div><!-- #span12 -->
    </div>
  </div>
</div>
